* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #292d3f;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}
.who {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.who p {
  margin-bottom: 5px;
}
.who__blurb {
  margin-top: 10px;
}
.who__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.who__link {
  font-weight: 700;
  text-decoration: none;
  color: #292d3f;
}
.who__name-span {
  font-weight: 700;
}

.who__link:hover {
  text-decoration: underline;
}
figcaption {
  font-size: 12px;
  font-style: italic;
}
.who__project-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.who__img {
  width: 100%;
  height: 100%;
  flex: 1;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 25px;
  /* font-weight: 700; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  text-decoration: underline;
}

.header {
  background-color: #292d3f;
  display: flex;
  width: 100%;
  max-height: 80px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.header__site-name {
  font-size: 40px;
}
.header__site-name:hover {
  text-decoration: none;
}

.header__site-name__title {
  font-size: 40px;
}

.header__site-name__subtitle {
  font-size: 20px;
}
.menu-bars {
  display: flex;
  font-size: 30px;
  cursor: pointer;
}

.header__nav {
  max-width: 1200px;
}

.header__nav__list {
  list-style: none;
  display: none;
}

.collapse-menu {
  display: flex;
  flex-direction: column;
}

.header__nav__item {
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main {
  margin: auto;
  margin-top: 60px;

  max-width: 1200px;
  width: 100%;
}

.main__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.5em;
  margin-left: 10px;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.what-we-do__txt {
  max-width: 600px;
  margin-bottom: 10px;
}
.what-we-do__img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.footer {
  background-color: #292d3f;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: silver;
  font-size: 12px;
}

.home-body {
  background: url("./assets/Brain_processed_Fotor-stain.jpg") no-repeat center
    center fixed;
  /* background-image: url("./assets/Brain_processed_cream_bckg_sharpened_Fotor.jpg"); */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 90vh; */
  flex: 1;
  text-align: center;
}
.home__site-name__title {
  font-size: 100px;
  color: white;
}

.home__site-name__subtitle {
  font-size: 40px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .who__block {
    flex-direction: row;
  }

  .who__img {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .menu-bars {
    display: none;
  }

  .header__nav__list {
    display: flex;
  }
}

@media only screen and (min-width: 1100px) {
  .what-we-do {
    flex-direction: row;
  }
}
