* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto Condensed", sans-serif; */
}
body {
  font-family: "Montserrat", sans-serif;
  color: #292d3f;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

.underline__link {
  font-weight: 700;
  text-decoration: none;
  color: #292d3f;
  text-decoration: underline;
}

.underline__link:hover {
  color: #292d3fd2;
}

/* home page */
.nav-item {
  text-decoration: none;
  color: white;
  font-size: 25px;
  /* font-weight: 700; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  text-decoration: underline;
}

.header {
  background-color: #292d3f;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.header-collapse {
  width: 100vw;
  height: 100vh;
}

.header__site-name {
  font-size: 30px;
}
.header__site-name:hover {
  text-decoration: none;
}

.menu-bars {
  display: flex;
  flex-direction: column;
  align-items: right;
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease-out;
}

.menu-bar {
  background-color: white;
  color: white;
  width: 28px;
  height: 3px;
  border-radius: 15%;
  margin: 0 0 5px 0;
}

.menu-bars-close {
  transform: rotate(180deg);
}
.menu-bars-close .menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-bars-close .menu-bar:nth-child(2) {
  opacity: 0;
}
.menu-bars-close .menu-bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
.collapse-title {
  display: block;
}
.header__nav {
  max-width: 1200px;
  transition: all 0.5s ease-out;
}

.header__nav__list {
  list-style: none;
  display: none;
}

.collapse-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 80;
  right: 0;
  background: #292d3f;
  background: #292d3fe3;
  width: 100vw;
  height: 100vh;
  padding-bottom: 80px;
  /* transition: all 0.5s ease-out; */
}

.collapse-menu li:first-child {
  display: none;
  /* visibility: hidden; */
}

.header__nav__item {
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main {
  margin: auto;
  margin-top: 140px;

  max-width: 1200px;
  width: 100%;
  flex: 1 0 auto;
}

.main__title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.5em;
  margin-left: 10px;
}
.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  text-align: center;
  min-height: 400px;
}

.home-body {
  background: url("./assets/Brain_processed_multi-cream_bckg_Fotor-2.jpg")
    no-repeat center center fixed;
  /* background-image: url("./assets/Brain_processed_cream_bckg_sharpened_Fotor.jpg"); */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .home-body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #6d78aa41;
} */

.home__site-name__title {
  font-size: 50px;
  color: white;
}

.home__site-name__subtitle {
  font-size: 20px;
  color: white;
}

@media only screen and (min-width: 1000px) {
  .home__site-name__title {
    font-size: 100px;
  }

  .home__site-name__subtitle {
    font-size: 40px;
  }

  .nav-item {
    font-size: 20px;
  }

  .header__site-name {
    font-size: 30px;
  }

  .menu-bars {
    display: none;
  }

  .collapse-title {
    display: none;
  }
  .header {
    justify-content: center;
  }

  .header__nav__list {
    display: flex;
  }
}

/* what page */
.what-we-do {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.what-we-do__txt {
  max-width: 600px;
  margin-bottom: 10px;
}
.what-we-do__txt p {
  padding-bottom: 10px;
  line-height: 1.5;
}
.what-we-do__img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

/* who page */

.fa-twitter {
  color: #1ca0f298;
}
.fa-twitter:hover {
  color: #1ca1f2;
}

.fa-envelope {
  color: #292d3fbe;
}

a {
  text-decoration: none;
}
.fa-envelope:hover {
  color: #292d3f;
}
.who {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}

.alumni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.alumni__block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
}

.alumni__img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  flex: 1;
  margin-top: 20px;
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  border-radius: 7px;
  padding: 5px;
  align-items: center;
}

.alumni__name {
  font-weight: 700;
  /* text-align: center; */
}

.who:last-child {
  margin-bottom: 250px;
}

.who__group-img {
  width: 100%;
  max-width: 800px;
  height: 100%;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.who__list {
  margin: 0;

  flex: 1;
  padding: 0;
  list-style: none;
  text-align: left;
}

.who__list li {
  padding: 5px;
}

.who p {
  /* margin-bottom: 5px; */
  text-align: left;
}
.who__blurb {
  margin-top: 10px;
}

.who__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
  margin-top: 90px;
  padding-top: 90px;
}
.who__first {
  margin-top: 0px;
  padding-top: 90px;
}
.who__block__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: 30px;
  justify-content: left;

  margin-bottom: 20px;
}

.who__link {
  font-weight: 700;
  text-decoration: none;
  color: #292d3f;
}
.who__name-span {
  font-weight: 700;
}

.who__link:hover {
  text-decoration: underline;
}
figcaption {
  font-size: 12px;
  font-style: italic;
}

.who__project-img__block {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-top: 15px;
}
.who__video {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}

.who__project-img {
  width: 100%;
  max-width: 550px;
  height: auto;

  padding-right: 10px;
}
.who__project-img__thinner {
  width: 100%;
  max-width: 700px;
  height: auto;
  padding-right: 10px;
}

.who__img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 350px;
  min-width: 250px;
  flex: 1;
  margin-top: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 7px;
  /* border-radius: 50%; */
  padding: 5px;
}

/* publications */
.publications {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

/* Contact Us */
.contact {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.contact__block {
  padding-bottom: 20px;
}
.contact__block p {
  font-size: 18px;
}

/* alumni */
/* .alumni {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
} */

/* scroll to top btn */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(131, 131, 131);
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

#myBtn:hover {
  background-color: #f5805c;
}

.footer {
  background-color: #292d3f;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: silver;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__copyright {
  font-size: 10px;
}
.footer__address {
  display: none;
}

@media only screen and (min-width: 600px) {
  .who p {
    text-align: justify;
  }
  .who__block {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 210px;
    padding-top: 100px;
  }
  .who__first {
    margin-top: 10px;
    padding-top: 90px;
  }

  .who__list {
    margin-left: 20px;
  }

  .who__img {
    margin-top: 0;
    margin-left: 20px;
  }

  .alumni {
    flex-direction: row;
    justify-content: flex-start;
  }
  .alumni__block {
    max-width: 400px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 700px) {
  .footer__address {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .who__block__group {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1100px) {
  .what-we-do {
    flex-direction: row;
  }
}

.header__nav__list:first-child {
  display: none;
}
