* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
}

.header__site-name {
}

.header__site-name__title {
}

.header__site-name__subtitle {
}

.header__nav {
}

.header__nav__list {
}

.header__nav__item {
}

.main {
}

.footer {
}
